:root {
  font-family: "Rubik", sans-serif;
  --color-menu: #4a4a4a;
  --color-fondo: #3cdbc0;
  --color-texto-principal: #ffffff;
}
.header {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
}
.header-img {
  width: 155px;
  margin-top: 10px;
}
.nav {
  margin-top: 10px;
  margin-bottom: 13px;
}
.list {
  display: flex;
}
.list-element {
  margin-right: 20px;
  font-size: 16px;
  color: var(--color-menu);
}
.main {
  background-color: var(--color-fondo);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: var(--color-texto-principal);
  font-size: 30px;
  text-align: center;
  width: min-content;
}
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .header-img {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nav {
    margin-right: 10px;
  }
  .list-element {
    font-size: 16px;
  }
  .title {
    font-size: 40px;
  }
}
